<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-imagemin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>36B674BC-CFF4-413B-9C0C-22BB5F752319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A41A4B98-F508-4808-B2C0-DDD3C7497B8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F39DB04E-97B4-4DC2-B07A-ACD6B95B7CC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36B674BC-CFF4-413B-9C0C-22BB5F752319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ryoKawamata</string>
	<key>description</key>
	<string>Minify images seamlessly with imagemin</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>imagemin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>imagemin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A41A4B98-F508-4808-B2C0-DDD3C7497B8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36B674BC-CFF4-413B-9C0C-22BB5F752319</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imagemin</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Minify images with imagemin</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F39DB04E-97B4-4DC2-B07A-ACD6B95B7CC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>optimized animation gif</string>
	<key>uidata</key>
	<dict>
		<key>36B674BC-CFF4-413B-9C0C-22BB5F752319</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>A41A4B98-F508-4808-B2C0-DDD3C7497B8F</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>F39DB04E-97B4-4DC2-B07A-ACD6B95B7CC1</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
